* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #010203;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
}

footer {
    background-color: #002f34;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    padding: 18px;
}

main {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.container {
    padding: 12px 8px 2px;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    margin: 0 auto;
}

.spacer {
    margin: 14px 0;
    width: 100%;
    height: 14px;
    background-color: hsla(0, 0%, 50%, 0.2);
}

.category-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}

.category-title span {
    font-weight: 450;
    display: block;
}

.category-title span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid #010203;
}

.category-icon {
    height: 100px;
    min-width: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 1;
    text-align: center;
    font-size: 10px;
}

.category-icon img {
    width: 48px;
    object-fit: cover;
}
.category-icon figcaption {
    margin-top: 8px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow-x: auto;
}

.category::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
.category::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #ffffff;
}

.category::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
}

.category::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

.category::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #b8c0c2;
}

.category::-webkit-scrollbar-thumb:hover {
    background-color: #969c9e;
}

.category::-webkit-scrollbar-thumb:active {
    background-color: #7f8486;
}

.card-product {
    min-width: 160px;
    width: calc(100% - 16px);
    height: 266px;
    margin: 0 8px;
    margin: 16px;
}

.card {
    border-radius: 8px;
    border: 1px solid #969c9e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 4px 8px 24px 0px rgba(1, 2, 3, 0.24);
}

.top-card {
    padding: 8px;
    width: 100%;
    height: 50%;
}
.top-card span {
    position: absolute;
}

.top-card figure {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-card figure img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-card span:nth-of-type(1) {
    top: 4px;
    left: 0;
    transform: translateX(-4px);
    font-size: 10px;
    background-color: yellow;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    padding: 4px;
    border-radius: 4px;
}
.top-card span:nth-of-type(2) {
    right: 0;
    top: 0;
    font-size: 24px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 9999px;
}

.top-card span:nth-of-type(2):hover {
    color: #ffffff;
    background-color: #010203;
    transition: all 300ms ease;
}

.bottom-card {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    gap: 8px;
    border-left: 6px solid yellow;
}

.top-caption {
}

.price {
    font-weight: 600;
    font-size: clamp(16px, 10vw, 18px);
}

.year {
    color: #969c9e;
    font-size: clamp(10px, 10vw, 14px);
}

.caption {
    color: #969c9e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-caption {
    color: #969c9e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 100%;
}

.bottom-caption span {
    display: block;
    overflow: hidden;
}

.bottom-caption span:nth-of-type(1) {
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bottom-caption span:nth-of-type(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ib {
    display: block;
}

.highlight-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.load-more {
    margin: 16px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: 2px solid #010203;
    padding: 0 10px;
    border-radius: 4px;
    font-weight: 600;
}

.dropdown {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #010203;
}

.dropdown-title {
    border-top: 1px solid #010203;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.dropdown-sp {
    font-size: 18px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-sp span:nth-last-of-type(1) {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.w-full {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-full {
    height: 100%;
}

header {
    z-index: 9999999999990;
    top: 0;
    left: 0;
    position: sticky;
    color: #002f34;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.header {
    height: 100%;
    background-color: #002f3408;
    padding: 10px 16px;
}

.border-header {
    border: 2px solid #002f34;
    border-radius: 4px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
    font-size: 24px;
}

.logo {
    gap: 8px;
}

.logo i {
    display: block;
    gap: 8px;
}

.loaction__mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__categories {
    display: none;
}

.header__search {
    height: 48px;
    width: 100%;
    padding: 0 4px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.header__search span {
    height: fit-content;
}

.header__location {
    display: none;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.header__login .header__login__btn {
    display: none;
}

.header__jual {
    z-index: 10;
    bottom: 5%;
    position: fixed;
}

.header__jual p {
    gap: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    position: absolute;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media (min-width: 480px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .spacer {
        display: none;
    }

    #category-section {
        display: none;
    }

    .header__container {
        height: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        max-width: 1280px;
        position: relative;
    }

    .header__logo {
        height: 48px;
        width: 48px;
    }

    .header__logo img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .header__middle {
        display: flex;
        flex: 1;
        margin: 0 16px;
    }

    .header__middle__wrapper {
        min-width: 630px;
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .header__location {
        height: 48px;
        width: 272px;
        max-width: 320px;
        overflow: unset;
        padding: 0 8px;
        display: flex;
        align-items: center;
    }

    .header__location i {
        font-size: 18px;
    }

    .header__location .text__location {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        padding-left: 16px;
    }

    .icon__location {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
    }

    .header__search {
        flex-direction: row;
        padding: 0 0;
        margin-left: 16px;
    }

    .header__search span {
        display: flex;
        align-items: center;
        padding: 0 8px;
        text-align: center;
    }

    .header__search i {
        height: 100%;
        background-color: #002f34;
        color: #ffffff;
        width: 48px;
        font-size: 24px;
    }

    .header__login {
        gap: 16px;
    }

    .header__login .header__login__btn {
        display: block;
        font-weight: 800;
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .header__jual {
        position: relative;
    }

    .header__categories {
        display: flex;
        align-items: center;
        height: 24px;
        padding: 16px 0;
    }

    .header__categories__all {
        display: flex;
        gap: 8px;
        font-size: 16px;
        text-align: center;
        font-weight: 800;
    }

    .header__categories__all i {
        margin-left: 4px;
        font-size: 20px;
    }

    .header__categories__sp {
        margin-left: 16px;
        gap: 16px;
        align-items: center;
        display: flex;
    }

    .header__categories__sp span {
        display: block;
    }

    .loaction__mobile {
        display: none;
    }

    .logo i {
        display: none;
    }
}
